
  body{
    overflow-x: scroll;
    height: 100vh;
  }
  .main-content{
    width: 95vw !important;
    margin: 1rem auto !important;
  }

  .margin-bottom-5{
    margin-bottom: 5px;
  }
  
  .item-container{
    width: 100%;
  }

  .list-container{
    width: 100%;
  }

  .panel-heading{
    padding: 0.1em 0.1em;
    background-color: navy;
    color: white;
    font-weight: 400;
  }

  .panel-block{
    margin-top: 5px;
    border-radius: 4px;
    border-style: outset;
    border-color: lightgrey;
  }

  .panel:not(:last-child) {
    margin-bottom: 0.5rem;
 }